In [4]:
import pandas as pd
import re

def remove_special_characters(text):
    return re.sub(r'[^A-Za-z0-9\s]+', '', text)

try:
    # Load the dataset from JSON
    json_file_path = "D:/TechLab Project/techlabs-data-science-yelp/data/reviews_2021-01.json"  # Replace with actual file path
    df_json = pd.read_json(json_file_path, dtype=str, lines=True)  # Load all columns as strings

    # Convert all text data to lowercase and remove special characters except the first column (assumed to be 'business_id')
    df_json.iloc[:, 1:] = df_json.iloc[:, 1:].applymap(lambda x: remove_special_characters(x.lower()) if isinstance(x, str) else x)

    # Save the modified dataset back to JSON
    modified_json_file_path = "D:/TechLab Project/techlabs-data-science-yelp/data/reviews_2021-01_textcleaning.json"
    df_json.to_json(modified_json_file_path, orient="records", lines=True)

    print(f"Modified file saved at: {modified_json_file_path}")

except FileNotFoundError:
    print(f"File not found: {json_file_path}")
except ValueError as e:
    print(f"Value error: {e}")
except Exception as e:
    print(f"An error occurred: {e}")

C:\Users\tuanl\AppData\Local\Temp\ipykernel_64936\3351551022.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_json.iloc[:, 1:] = df_json.iloc[:, 1:].applymap(lambda x: remove_special_characters(x.lower()) if isinstance(x, str) else x)

Modified file saved at: D:/TechLab Project/techlabs-data-science-yelp/data/reviews_2021-01_textcleaning.json

In [5]:
import pandas as pd
df = pd.read_json('D:/TechLab Project/techlabs-data-science-yelp/data/reviews_2021-01_textcleaning.json', lines=True)
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,iBUJvIOkToh2ZECVNq5PDg,iad32p6h32ekdvxsphsrha,yb26jvvgs2lgkxekoobsaw,50,0,0,0,ive been eating at this restaurant for over 5 ...,2021-01-08 01:49:36
1,HgEofz6qEQqKYPT7YLA34w,ryvwvny16b1lmcw1ip7jq,jfiwoexcvryhzjm4isoh4g,10,0,0,0,how does a delivery person from here get lost ...,2021-01-02 00:19:00
2,Kxo5d6EOnOE-vERwQf2a1w,2ntnbuia9bna62w0fqncxg,svd26lelejnx5naskpw,50,0,0,0,the service is always good the employees are n...,2021-01-26 18:01:45
3,STqHwh6xd05bgS6FoAgRqw,j4qnlfvnrf2dwbkuenww,ye1raqklx7ozsjmx3qkikg,50,0,0,0,two words whipped feta \nexplosion of amazingn...,2021-01-27 23:28:03
4,75Ckhq13s7k-crts_0MY9g,h41rir5rtkq7eoj0tu0wgq,3plpodgeaqarel8fm2lela,40,0,0,0,place was great as well as parking \nfood was ...,2021-01-30 03:15:20